<% cache bubble do %>
  <div class="bubble"
    style="view-transition-name: bubble-<%= bubble.id -%>; --bubble-color: <%= bubble.color %>; <%= bubble_rotation(bubble) %> <%= bubble_size(bubble) %>"
    data-controller="animation upload-preview"
    data-animation-play-class="bubble--wobble" data-animation-play-on-load-value="true" data-action="mouseover->animation#play">

    <div>
      <h1 class="bubble__title">
        <%= turbo_frame_tag bubble, :edit do %>
          <%= link_to bubble.title, edit_bucket_bubble_path(bubble.bucket, bubble), class: "txt-undecorated" %>

          <div class="bubble__tags flex flex-wrap align-end justify-center gap-half txt-tight-lines">
            <%= render "bubbles/tags", bubble: bubble %>
          </div>
        <% end %>
      </h1>
    </div>

    <div class="bubble__shape"></div>

    <%= link_to bucket_bubble_path(bubble.bucket, bubble), class: "bubble__link" do %>
      <span class="for-screen-reader"><%= bubble.title %></span>
    <% end %>

    <%= render "bubbles/assignments", bubble: bubble %>
    <%= render "bubbles/boosts", bubble: bubble %>
    <%= render "bubbles/date", bubble: bubble %>
    <%= render "bubbles/image", bubble: bubble %>
  </div>
<% end %>
