<section id="the-stream" class="cards cards--considering"
  tabindex="0"
  data-controller="navigable-list"
  data-drag-and-drop-target="container"
  data-column-name="Maybe?"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle keydown@document->navigable-list#navigate collapsible-columns:focus@document->navigable-list#selectFirst"
  data-navigable-list-actionable-items-value="true"
  data-navigable-list-left-right-navigation-value="false"
  data-navigable-list-focus-on-selection-value="true"
  data-collapsible-columns-target="maybe"
  data-drag-and-drop-url="<%= columns_card_drops_stream_path("__id__") %>">

  <div class="cards__transition-container">
    <header class="cards__header">
      <div class="cards__expander">
        <h2 class="cards__expander-title" data-collapsible-columns-target="title">Maybe?</h2>
      </div>
      <%= link_to board_columns_stream_path(board), class: "cards__maximize-button btn btn--circle txt-x-small borderless", data: { turbo_frame: "_top" } do %>
        <%= icon_tag "grid", class: "translucent" %>
        <span class="for-screen-reader">Expand column</span>
      <% end %>
    </header>
    <%= render "columns/show/add_card_button", board: board %>

    <% if page.used? %>
      <%= with_automatic_pagination "the-stream", @page do %>
        <%= render "boards/columns/list", cards: page.records, draggable: true %>
      <% end %>
    <% end %>
  </div>
</section>
