<div class="events__day" data-controller="related-element"
  data-related-element-highlight-class="event--related">
  <% if day_timeline.has_activity? %>
    <h2 class="events__day-header">
      <span class="events__day-header-content">
        <%= local_datetime_tag day_timeline.day, style: :agoorweekday, class: "txt-ink" %>
      </span>
    </h2>


    <%= render "events/day_timeline_column", title: "Added", day_timeline: day_timeline %>












    <div class="center events" hidden>
      <%= render_column_headers(day_timeline) %>
      <%= render_event_grid_cells %>
      <%= render "events/day_timeline", day_timeline: day_timeline  %>
    </div>

    <%= render "events/empty_days", day_timeline: day_timeline %>
  <% else %>
    <%= render "events/empty_days", day_timeline: day_timeline %>
  <% end %>
</div>
